.task-container {
  width: 95%;
  margin: 20px auto 20px auto;
  background-color: lightgray;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  padding-right: 35px;
  position: relative;
  transition: .3s;
}

.task-container:hover {
  box-shadow: 0 5px 3px 0px rgba(0,0,0,.2);
}

.task-description {
  margin-bottom: 20px;
}

.task-container.low {
  border: 2px solid gray;
}

.task-container.normal {
  border: 2px solid #64AB25;
  background-color: rgb(186, 207, 182);
}

.task-container.hight {
  border: 2px solid rgb(231, 93, 0);
  background-color: rgb(226, 178, 178);
}

.task-buttons {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
}

.task-btn {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 18px;
  height: 18px;
  background-size: 100% 100%;
}

.task-btn:not(:last-child) {
  margin-bottom: 5px;
}

.task-delete-btn {
  background-image: url('./../../assets/images/icons/remove.svg');
}

.task-edit-btn {
  background-image: url('./../../assets/images/icons/edit.svg');
}

.task-delete-btn:hover {
  opacity: .8;
}

.task-date {
  font-size: 14px;
  color: rgb(83, 83, 83);
}