.board-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.board-title {
    color: rgb(32, 32, 32);
}

.board-container {
    border: 3px solid rgb(49, 49, 49);
    border-radius: 5px;
    display: flex;
}

.column {
    width: 300px;
    background-color: rgb(231, 227, 204);
}

.column:not(:first-child) {
    border-left: 3px solid rgb(49, 49, 49);;
}

.column-title {
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(49, 49, 49);
    color: #fff;
}

.task-control-btn {
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: rgb(49, 49, 49);
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
    outline: none;
}

.task-control-btn:hover {
    opacity: .9;
}

.task-control-btn:active {
    opacity: .8;
}

.task-control-btn:not(:last-child) {
    margin-right: 10px;
}

