.board-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.board-title {
    color: rgb(32, 32, 32);
}

.board-container {
    border: 3px solid rgb(49, 49, 49);
    border-radius: 5px;
    display: flex;
}

.column {
    width: 300px;
}

.column:not(:first-child) {
    border-left: 3px solid rgb(49, 49, 49);;
}

.column-title {
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #fff;
    background-color: rgb(49, 49, 49);
    color: #fff;
}

.add-task {
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}

