body {
    background-color: #e3e3e3;
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    position: relative;
    min-height: 100vh;
    min-width: 700px;
}

/* ui elements */

.dialog-textarea {
  width: 100%;
  min-height: 100px;
  padding: 15px;
  box-sizing: border-box;
  resize: none;
}

.dialog-textarea:focus {
  outline: 1px solid rgb(77, 76, 76);
}
  
.text {
  font-size: 16px;
  margin: 10px 0 5px 0;
  font-weight: 600;
}
  
.select {
  font-size: 16px;
  min-width: 150px;
  cursor: pointer;
  padding: 5px;
}
  
.error-msg {
  color: rgb(201, 36, 36);
  font-size: 14px;
  margin-bottom: 5px;
}

.task-control-btn {
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: rgb(49, 49, 49);
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  outline: none;
}

.task-control-btn.full-size {
  width: 100%;
}

/* tr-group-styles */

.task-appear {
  opacity: 0.01;
  transform: translateY(-20px);
}

.task-appear.task-appear-active {
  opacity: 1;
  transition: .3s ease;
  transform: translateY(0px);
}

.dialog-appear {
  opacity: 0.01;
}

.dialog-appear.dialog-appear-active {
  opacity: 1;
  transition: .3s ease;
}